
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    border: 4px solid black;
    border-left: 4px solid var(--orange);
    border-bottom: 4px solid var(--orange);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    color : white;
}

.loading-wrapper {
    width : 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
}
.event-list {
    min-height: 100vh;
    background-color: white;
    color : black;
    display: flex;
    flex-direction: column;
    padding : 0.8rem 1rem 3rem 1rem;
    align-items: center;
    position: relative;
}


.event-card {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: flex-start;
    /* margin-left : 1rem; */
    color : white;
    width : 100%;
    height: 9.74rem;
    border-radius: 0.5rem;
    padding : 1rem 1rem;
    padding-bottom: 0.8rem;
    padding-left : 0.8rem;
    border : 1px solid black;
    margin-bottom: 0.8rem;
}

.event-card:active {
    -webkit-tap-highlight-color: transparent;
}

.event-card-date {
   margin-bottom: 0.5rem; 
   color : var(--light-grey)
}

.event-card-heading {
   font-size : 1.5rem; 
   margin-bottom: 0.5rem;
   /* background-color: var(--orange); */
   color : var(--orange);
   font-weight: 800;
   border-radius: 0rem 1rem 1rem 0rem;
   padding-left : 0.1rem;
   padding-top : 0.3rem;
   padding-bottom : 0.3rem;
   padding-right : 1rem;
}

.event-card-desc {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: justify;
  }


.nav-bar {
    display: flex;
    width: 5%;
    justify-content: space-around;
    position: absolute;
    bottom : 0.7rem;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.button {
    border : none;
    color : white;
    /* color : var(--grey); */
    background-color: var(--orange);
    cursor: pointer;
    padding : 0.5rem;
    border-radius: 1rem 0 0 1rem;
    border-left : 1px solid white;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.button-inactive {
    background-color: var(--light-grey);
    cursor :auto;
}

.button:nth-last-child(1) {
    border-radius: 0 1rem 1rem 0;
}


@media (max-width : 1250px) {
    .nav-bar {
        width : 7%;
    }
}

@media (max-width : 750px) {
    .nav-bar {
        width : 10%;
    }
}



@media (max-width : 600px) {
    .event-list {
        padding-top : 0.8rem;
        /* padding-bottom : 0.3rem; */
        padding-left : 0.7rem;
        padding-right : 0.7rem;
    }
    .event-card-heading {
        /* font-size : 1.2rem; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding-bottom: 0;
    padding-top : 0;
    }
    .nav-bar {
        width : 15%;
    }

}