@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    border: 4px solid var(--grey);
    border-left: 4px solid var(--orange);
    border-bottom: 4px solid var(--orange);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    color: white;
}

.loading-wrapper {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.event-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1.3rem 1rem;
    height: 33rem;
    justify-content: space-between;
    /* border-radius : 3rem 3rem 0 0; */
}

.event-heading {
    color: white;
    padding-right: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0.05rem 0.05rem 0.02rem var(--light-grey);
    word-spacing: -0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    /* letter-spacing: 0.1rem; */
}


.event-heading::before,
.event-heading::after {
    content: " ";
    display: inline-block;
    margin : 0 0.8rem;
    width: 3%; /* Adjust the width as needed */
    height: 2px; /* Adjust the thickness of the lines as needed */
    background: var(--grey); /* Adjust the color as needed */
    vertical-align: middle;
}

.event-list-wrapper {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.event-list {
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: white;
    transition: transform 0.5s ease-in;
}

.event-card {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    color: var(--orange);
    width: 32%;
    height: 20rem;
    user-select: none;
    padding: 1rem 1.5rem;
    /* border: 0.75px solid var(--orange); */
    border-radius: 1rem;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s; 
}

/* .event-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100.25%;
    height: 100.25%;
    border: 0.5px solid white;
    border-radius: 1rem;
    pointer-events: none; 
    box-sizing: border-box; 
} */



.event-card:hover {
    transform: scale(1.05); 
}





.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    border-radius: 1rem;
    filter: opacity(0.5);
}

.contents {
    position: relative;
    z-index: 1;
}

.hoverable:hover .background {
    fill: white;
    transition: fill 0.3s;
    /* Add transition for smooth color change */
}

.hoverable:hover .text {
    fill: #FA8860;
    transition: fill 0.3s;
    /* Add transition for smooth color change */
}

.hidden-card {
    opacity: 0;
    border-radius: 1.5rem;
}

.event-card:active {
    -webkit-tap-highlight-color: transparent;
}

.event-card-date {
    margin-bottom: 0.5rem;
    color: #FA8860;
    font-family: Roboto Mono;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 102.5%;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.event-card-date-month {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    font-family: Roboto Mono;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 102.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.event-card-date-year {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: Roboto Mono;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 102.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.event-card-heading {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0.05rem 0.05rem 0.01rem var(--orange);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: white;
    min-height: 3.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.event-card-read-more {
    font-size: 1.2rem;
    font-weight: 800;
    user-select: none;
    color: white;
    margin-top: 0.5rem;
    width: 115.649px;
    height: 29.704px;
    flex-shrink: 0;
    fill: #FA8860;
}

/* .event-card-desc {
    text-align: justify;
    overflow:auto;
    width: 100%;
    word-wrap:break-word;
    white-space:break-spaces;
    overflow-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.event-card-read-more {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    user-select: none;
    color: black;
}

.event-card-desc {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.3rem;
    color: white;
}



.event-read-more {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    user-select: none;
    color: white;
    text-shadow: 0.05rem 0.05rem 0.02rem var(--orange);
}

.event-read-more:hover {
    color: var(--light-grey);
}

.event-read-more:active {
    -webkit-tap-highlight-color: transparent;
}

.next-prev-button {
    cursor: pointer;
}

.next-prev-button:hover {
    color: var(--light-grey);
}

.next-prev-button:active {
    -webkit-tap-highlight-color: transparent;
}


@media (max-width : 900px) {
    .event-card {
        width: 48%;
        height: 20rem;
    }

    .event-list {
        width: 85%;
    }
}

@media (max-width : 700px) {
    .event-card {
        width: 100%;
    }

    .event-heading {
        width: 100%;
        text-align: center;
    }
}


@media (max-width : 600px) {
    .event-list {
        width: 75%;
    }

    .event-container {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        padding-bottom: 1rem;
        /* height : 28rem; */
    }

    .event-heading {
        font-size: 2.2rem;
    }

    .event-card-desc {
        font-size: 0.9rem;
    }

    .event-heading::before,
    .event-heading::after {
        display: none;
    }
}