.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #27282c;
    width: 100%;
    height :  8rem;
    padding: 3rem 3rem;
}

.nav-logo {
    display: flex;
    /* width: 20%;
    height: 6rem; */
    color : red;
    /* border : 1px solid white; */
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    margin-left : 1.5rem;
    margin-right : 1.5rem;
    font-size : 1.6rem;
}

.nav-link-active {
    composes : nav-link;
    color : #fa8860;
}
